html { -webkit-font-smoothing: antialiased;}

body {
	background-color: #ead7aa;
}

#page {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

header {
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

nav {
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: -40px;
	height:40px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

nav li {
	display: inline-block;
	float: left;
	width: 33%;
}
nav li a {
	display: block;
	float: center;
	width: 100%;
	text-decoration: none;
	text-align: center;
}

nav li a:visited {
	color: ; 
}
nav li:hover {
	background: ;
}

h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

h4 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

#inputsection {
	text-align: center;
}

#sideinfo {
	display: inline-block;
	width: 200px;
}

#maininfo {
	display: inline-block;
	width: 800px;
}



footer {
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}